*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(41, 41, 78);
}
.Outer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#label{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.Container{
    color: aliceblue;
    background-color: rgb(91, 91, 177);
    border-radius: 25px;
    box-shadow: inset 5px 10px 10px black ;
    /* height: 50%; */
    /* width: 40%; */
    /* max-width: 1000px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
}
#header_title{
    font-size: 2rem;
}
#countDown{
    color: black;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,4rem);
    gap: 35px;

    
}

@media (max-width: 1174px){
    /* .Container{
        width: 80%;
        height: 60%;
    } */
    #countDown{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,4rem);
    }
}

.Box{
    box-shadow: 5px 5px 3px black;
    background-color: aliceblue;
    border: 1px solid rgb(183, 184, 217);
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Box span{
    font-size: 2rem;
    
}

h2{
    font-size: 2rem;
}
#Progress{
    margin-bottom: 2rem;
    border-radius: 10px; 
    height: 1.2rem;
    width: 80%;
    background-color: aliceblue;
    overflow: hidden;
}
#progress-bar{
    border-radius: 10px;
    width: 0%;
    height: 100%;
    background-color: rgb(65, 218, 218);
    transform: width 1s ease-in-out;
    
}

#user-box{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid black; */
    width: 80%;
    
}

@media (max-width: 1174px){
    #user-box{
        flex-direction: column;
        gap: 1rem;
    }
}

/* @media (max-width: 900px){
    #user-box{
        width: 100%;
    }
} */

#Date-input{
    text-decoration: none;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    height: 2rem;
    width: 80%;
    text-align: center;
    

}

.btn{
    border: none;
    background-color: rgb(151, 188, 164);
    color: black;
    font-size: 1rem;
    border-radius: 8px;
    height: 2rem;
    width: 80%;
     box-shadow: 2px 2px 5px black;
}
.btn:hover{
    background-color: rgb(93, 144, 95);
    cursor: pointer;
    transition: all 0.3s linear;
    scale: 1.1;
   
}
@media (max-width: 1174px){
    .btn{
        width: 80%;
    }
}